<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lechuang.mapper.RelationshipMapper">
    
	<select id="selectRelationshipByB_OpenID" parameterType="java.lang.String" resultType="com.lechuang.bean.Relationship">
	    SELECT b_open_id FROM relationship WHERE i_open_id=#{i_open_id}
	</select>
	<delete id="delecteByB_OpenID" parameterType="java.lang.String">
	    DELETE FROM relationship WHERE b_open_id=#{b_open_id}
	</delete>
	
</mapper>